/* 
Name: Pixel
Description: A custom style by theme pixel to ChatGPT Styles
Collaborator: Victor Breno
Credits: https://github.com/VictorBren0
Illustration: https://i.imgur.com/nVszv3r.png
*/

/* Initial background container */

div.items-center,
#__next>div.overflow-hidden.w-full.h-full.relative.flex>div.flex.h-full.max-w-full.flex-1.flex-col>main>div.flex-1.overflow-hidden>div {
   background-color: #6b6b6b !important;
}

/* SideBar */
nav.h-full {
   background: #10A37F !important;
}

div.flex.flex-col.gap-2.pb-2.text-gray-100.text-sm a {
    margin-top: 20px;
    margin-right: 5px;
    border: black 2px solid;
    box-shadow: 5px 5px 2px 1px black;
    background: #D9D9D9;
}

nav.h-full>a:first-child {
   background-color: #D9D9D9;
   border: black 2px solid;
   box-shadow: 5px 5px 2px 1px black;
   margin-right: 10px;
   margin-bottom: 20px;
   color: red;
}
.bg-\[\#050509\]{
   background-color: #10A37F;
}
/* Chat area */
div.group.w-full.text-gray-800 {
   background-color: #D9D9D9;
   width: 90%;
   box-shadow: 5px 5px 2px 1px black;
   color: #1a1a1a;
   margin: 1%;
   border: black 2px solid;
}

div.group.w-full.bg-gray-50 {
   box-shadow: 5px 5px 2px 1px black;
   border: black 2px solid;
}

.dark .dark\:md\:bg-vert-dark-gradient, .md\:bg-vert-light-gradient{
   background-image: linear-gradient(180deg, rgba(90, 90, 90, 0), #6b6b6b 58.85%);
}

/* Form area */
div.flex.flex-col.gap-2.pb-2.text-gray-100.text-sm>a {
   background-color: #D9D9D9;
   border: black 2px solid;
   box-shadow: 5px 5px 2px 1px black;
   margin-right: 10px;
}

div.flex.flex-col.gap-2.pb-2.text-gray-100.text-sm>a:hover {
   background-color: #343541;
   color: #D9D9D9
}



/* chat icon */
div.p-1.rounded-sm.items-center {
   background: #10A37F !important;
   border: black 2px solid !important;
}

div.group.w-full.text-gray-800 img {
   border: black 2px solid !important;
}

/* Table */
div.items-center table tr,
table thead,
table th,
table td {
   color: #18c6e1;
   border-color: #18c6e1;
}

.prose :where(thead th):not(:where([class~=not-prose] *)) {
   color: #2cb1c7 !important;
}

/* Code */
pre div.flex.items-center.text-xs {
   background: #1f4366;
}

pre div.p-4.overflow-y-auto {
   background: #141414;
}

/* phrases when explaining code */
.prose :where(code):not(:where([class~=not-prose] *)) {
   color: #2cb1c7 !important;
}

.prose:where(code):not(:where([class~=not-prose] *)) {
   color: #2cb1c7 !important;
}

/* input*/
div.flex.flex-col.w-full.py-2 {
   background-color: #D9D9D9;
   border: black 2px solid;
   box-shadow: 5px 5px 2px 1px black;
   color: #1a1a1a;
}

.btn-neutral {
   border: black 2px solid;
   box-shadow: 5px 5px 2px 1px black;
   color: red;
   margin-top: 10px;
}

.btn-neutral div {
   background: none !important;
}

/* Some texts */
a.text-sm,
.text-sm {
   color: #1a1a1a;
   font-size: 1rem;
}

blockquote,
dd,
dl,
fieldset,
figure,
h3,
h4,
h5,
h6,
hr,
p,
pre {
   color: red
}

.markdown ol li,
.markdown ol li>p,
.markdown ol ol,
.markdown ol ul,
.markdown ul li,
.markdown ul li>p,
.markdown ul ol,
.markdown ul ul {
   color: red
}

/* Others */
div.absolute.inset-y-0.right-0.w-8.z-10 {
   display: none !important;
}

nav.h-full {
   border-right: 1px solid;
}

.fade-out {
   opacity: 0;
}

text-center,
li.p-3,
div.pl-3,
button.rounded-md,
button.rounded-full {
   border: black 2px solid;
   box-shadow: 5px 5px 2px 1px black;
}

div.items-start.text-center {
   z-index: 10;
}
